
@{
    ViewBag.Title = "Index";
}

<h2>AJAXConcept</h2>

@using (Html.BeginForm()) {
    @Html.TextBox("txtN", 0);
    <button id="btnCalcular"> Calcular </button><br/>
    <div id="lblMensaje"> </div>
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#btnCalcular").on("click", function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("JSONFactorial")',
                    data: { n: $('#txtN').val() },
                    datatype: 'json',
                    cache: false
                }).success(function (data) {
                    $("#lblMensaje").html(data.Factorial);
                })
                  .error(function (xhr, ajaxOptions, thrownError) {
                      $("#lblMensaje").html("Ha ocurrido un error");
                  });
                return false;
            });
        });
    </script>    
}
